node_modules
*storybook.log
storybook-static
.DS_Store
design-tokens.zip

# ui package
packages/ui/dist
packages/ui/react.d.ts
packages/ui/react.js
packages/ui/types/defs
packages/ui/types/react-jsx.d.ts

#icons package
packages/icons/dist
packages/icons/react.d.ts
packages/icons/react.js